google-genai
google-adk
google-cloud-texttospeech
python-dotenv
twilio
google-cloud-secret-manager
a2a-sdk
langchain-google-vertexai
google-cloud-documentai
firebase-admin
pymediainfo
mistune
gspread
anthropic[vertex]
openai